.slider-main_video .slider-main__title{
    line-height: 43px !important;
}
.slider-main__text{
    max-width: 50%;
    display: inline-block;
}
.slider-main__text a{
    color: #4db051;
}
.slider-main__style .slider-main__text{
    color: #fff;
    opacity: 1;
    padding-top: 22px;
    padding-bottom: 22px;
}
.slider-main__style .slider-main__subtitle{
    opacity: 1 !important;
}
.slider-main__style{
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.45);
}