.support-header__view{
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.support-header__size{
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin-right: 25px;
}