.rfield_error{
	position: absolute;
	top: 50%;
	right: -138px;
	margin-top: -15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
	min-height: 30px;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	letter-spacing: 0.72px;
	color: #fff;
	background-color: #5b5b5b;
}
.rfield_error:before {
	position: absolute;
	top: 9px;
	left: -11px;
	display: block;
	content: '';
	border: 6px solid transparent;
	border-right: 7px solid #5b5b5b;
}
.support-popup__user, .support-popup__info-device{
	width: 521px !important;
}