.bx-filter{
    width: 100%;
}
.select_float{
    float: left;
}
.select_m_right{
    margin-right: 9px;
}
.disabled{
    display: none !important;
}
.select__body{
    max-height: 300px;
    overflow-y: scroll !important;
}