.cell-advantages{
    display: table;
    width: 100%;
}
.cell-advantages__elm{
    width: 25%;
    position: relative;
    display: table;
    float: left;
    border: 2px solid #fff;
    overflow: hidden;
    text-decoration: none;
}
.cell-advantages__elm:after{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.cell-advantages__elm:hover:after{
    background-color: rgba(0,0,0,0.7)
}
.cell-advantages__elm img{
    width: 100%;
}
.advantages__text {
    min-height: 60px;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.78px;
    color: #fff;
}
.advantages__title {
    margin-bottom: 7px;
    font-family: Ubuntu Medium, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.8px;
}
.cell-advantages__text-cont{
    position: relative;
    z-index: 2;
    display: table-cell;
    vertical-align: middle;
}
.cell-advantages .advantages__title{
    color: #fff;
}