@font-face {
  font-family: 'mobirise-icons-bold';
  src:  url('/local/templates/main/assets_T1/web/assets/mobirise-icons-bold/mobirise-icons-bold.eot?m1l4yr');
  src:  url('/local/templates/main/assets_T1/web/assets/mobirise-icons-bold/mobirise-icons-bold.eot?m1l4yr#iefix') format('embedded-opentype'),
    url('/local/templates/main/assets_T1/web/assets/mobirise-icons-bold/mobirise-icons-bold.ttf?m1l4yr') format('truetype'),
    url('/local/templates/main/assets_T1/web/assets/mobirise-icons-bold/mobirise-icons-bold.woff?m1l4yr') format('woff'),
    url('/local/templates/main/assets_T1/web/assets/mobirise-icons-bold/mobirise-icons-bold.svg?m1l4yr#mobirise-icons-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mbrib-"], [class*="mbrib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mobirise-icons-bold' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mbrib-add-submenu:before {
  content: "\e900";
}
.mbrib-alert:before {
  content: "\e901";
}
.mbrib-align-center:before {
  content: "\e902";
}
.mbrib-align-justify:before {
  content: "\e903";
}
.mbrib-align-left:before {
  content: "\e904";
}
.mbrib-align-right:before {
  content: "\e905";
}
.mbrib-android:before {
  content: "\e906";
}
.mbrib-apple:before {
  content: "\e907";
}
.mbrib-arrow-down:before {
  content: "\e908";
}
.mbrib-arrow-next:before {
  content: "\e909";
}
.mbrib-arrow-prev:before {
  content: "\e90a";
}
.mbrib-arrow-up:before {
  content: "\e90b";
}
.mbrib-bold:before {
  content: "\e90c";
}
.mbrib-bookmark:before {
  content: "\e90d";
}
.mbrib-bootstrap:before {
  content: "\e90e";
}
.mbrib-briefcase:before {
  content: "\e90f";
}
.mbrib-browse:before {
  content: "\e910";
}
.mbrib-bulleted-list:before {
  content: "\e911";
}
.mbrib-calendar:before {
  content: "\e912";
}
.mbrib-camera:before {
  content: "\e913";
}
.mbrib-cart-add:before {
  content: "\e914";
}
.mbrib-cart-full:before {
  content: "\e915";
}
.mbrib-cash:before {
  content: "\e916";
}
.mbrib-change-style:before {
  content: "\e917";
}
.mbrib-chat:before {
  content: "\e918";
}
.mbrib-clock:before {
  content: "\e919";
}
.mbrib-close:before {
  content: "\e91a";
}
.mbrib-cloud:before {
  content: "\e91b";
}
.mbrib-code:before {
  content: "\e91c";
}
.mbrib-contact-form:before {
  content: "\e91d";
}
.mbrib-credit-card:before {
  content: "\e91e";
}
.mbrib-cursor-click:before {
  content: "\e91f";
}
.mbrib-cust-feedback:before {
  content: "\e920";
}
.mbrib-database:before {
  content: "\e921";
}
.mbrib-delivery:before {
  content: "\e922";
}
.mbrib-desktop:before {
  content: "\e923";
}
.mbrib-devices:before {
  content: "\e924";
}
.mbrib-down:before {
  content: "\e925";
}
.mbrib-download:before {
  content: "\e926";
}
.mbrib-drag-n-drop:before {
  content: "\e927";
}
.mbrib-drag-n-drop2:before {
  content: "\e928";
}
.mbrib-edit:before {
  content: "\e929";
}
.mbrib-edit2:before {
  content: "\e92a";
}
.mbrib-error:before {
  content: "\e92b";
}
.mbrib-extension:before {
  content: "\e92c";
}
.mbrib-features:before {
  content: "\e92d";
}
.mbrib-file:before {
  content: "\e92e";
}
.mbrib-flag:before {
  content: "\e92f";
}
.mbrib-folder:before {
  content: "\e930";
}
.mbrib-gift:before {
  content: "\e931";
}
.mbrib-github:before {
  content: "\e932";
}
.mbrib-globe-2:before {
  content: "\e933";
}
.mbrib-globe:before {
  content: "\e934";
}
.mbrib-growing-chart:before {
  content: "\e935";
}
.mbrib-hearth:before {
  content: "\e936";
}
.mbrib-help:before {
  content: "\e937";
}
.mbrib-home:before {
  content: "\e938";
}
.mbrib-hot-cup:before {
  content: "\e939";
}
.mbrib-idea:before {
  content: "\e93a";
}
.mbrib-image-gallery:before {
  content: "\e93b";
}
.mbrib-image-slider:before {
  content: "\e93c";
}
.mbrib-info:before {
  content: "\e93d";
}
.mbrib-italic:before {
  content: "\e93e";
}
.mbrib-key:before {
  content: "\e93f";
}
.mbrib-laptop:before {
  content: "\e940";
}
.mbrib-layers:before {
  content: "\e941";
}
.mbrib-left-right:before {
  content: "\e942";
}
.mbrib-left:before {
  content: "\e943";
}
.mbrib-letter:before {
  content: "\e944";
}
.mbrib-like:before {
  content: "\e945";
}
.mbrib-link:before {
  content: "\e946";
}
.mbrib-lock:before {
  content: "\e947";
}
.mbrib-login:before {
  content: "\e948";
}
.mbrib-logout:before {
  content: "\e949";
}
.mbrib-magic-stick:before {
  content: "\e94a";
}
.mbrib-map-pin:before {
  content: "\e94b";
}
.mbrib-menu:before {
  content: "\e94c";
}
.mbrib-mobile:before {
  content: "\e94d";
}
.mbrib-mobile2:before {
  content: "\e94e";
}
.mbrib-mobirise:before {
  content: "\e94f";
}
.mbrib-more-horizontal:before {
  content: "\e950";
}
.mbrib-more-vertical:before {
  content: "\e951";
}
.mbrib-music:before {
  content: "\e952";
}
.mbrib-new-file:before {
  content: "\e953";
}
.mbrib-numbered-list:before {
  content: "\e954";
}
.mbrib-opened-folder:before {
  content: "\e955";
}
.mbrib-pages:before {
  content: "\e956";
}
.mbrib-paper-plane:before {
  content: "\e957";
}
.mbrib-paperclip:before {
  content: "\e958";
}
.mbrib-photo:before {
  content: "\e959";
}
.mbrib-photos:before {
  content: "\e95a";
}
.mbrib-pin:before {
  content: "\e95b";
}
.mbrib-play:before {
  content: "\e95c";
}
.mbrib-plus:before {
  content: "\e95d";
}
.mbrib-preview:before {
  content: "\e95e";
}
.mbrib-print:before {
  content: "\e95f";
}
.mbrib-protect:before {
  content: "\e960";
}
.mbrib-question:before {
  content: "\e961";
}
.mbrib-quote-left:before {
  content: "\e962";
}
.mbrib-quote-right:before {
  content: "\e963";
}
.mbrib-redo:before {
  content: "\e964";
}
.mbrib-refresh:before {
  content: "\e965";
}
.mbrib-responsive:before {
  content: "\e966";
}
.mbrib-right:before {
  content: "\e967";
}
.mbrib-rocket:before {
  content: "\e968";
}
.mbrib-sad-face:before {
  content: "\e969";
}
.mbrib-sale:before {
  content: "\e96a";
}
.mbrib-save:before {
  content: "\e96b";
}
.mbrib-search:before {
  content: "\e96c";
}
.mbrib-setting:before {
  content: "\e96d";
}
.mbrib-setting2:before {
  content: "\e96e";
}
.mbrib-setting3:before {
  content: "\e96f";
}
.mbrib-share:before {
  content: "\e970";
}
.mbrib-shopping-bag:before {
  content: "\e971";
}
.mbrib-shopping-basket:before {
  content: "\e972";
}
.mbrib-shopping-cart:before {
  content: "\e973";
}
.mbrib-sites:before {
  content: "\e974";
}
.mbrib-smile-face:before {
  content: "\e975";
}
.mbrib-speed:before {
  content: "\e976";
}
.mbrib-star:before {
  content: "\e977";
}
.mbrib-success:before {
  content: "\e978";
}
.mbrib-sun:before {
  content: "\e979";
}
.mbrib-sun2:before {
  content: "\e97a";
}
.mbrib-tablet-vertical:before {
  content: "\e97b";
}
.mbrib-tablet:before {
  content: "\e97c";
}
.mbrib-target:before {
  content: "\e97d";
}
.mbrib-timer:before {
  content: "\e97e";
}
.mbrib-to-ftp:before {
  content: "\e97f";
}
.mbrib-to-local-drive:before {
  content: "\e980";
}
.mbrib-touch-swipe:before {
  content: "\e981";
}
.mbrib-touch:before {
  content: "\e982";
}
.mbrib-trash:before {
  content: "\e983";
}
.mbrib-underline:before {
  content: "\e984";
}
.mbrib-undo:before {
  content: "\e985";
}
.mbrib-unlink:before {
  content: "\e986";
}
.mbrib-unlock:before {
  content: "\e987";
}
.mbrib-up-down:before {
  content: "\e988";
}
.mbrib-up:before {
  content: "\e989";
}
.mbrib-update:before {
  content: "\e98a";
}
.mbrib-upload:before {
  content: "\e98b";
}
.mbrib-user:before {
  content: "\e98c";
}
.mbrib-user2:before {
  content: "\e98d";
}
.mbrib-users:before {
  content: "\e98e";
}
.mbrib-video-play:before {
  content: "\e98f";
}
.mbrib-video:before {
  content: "\e990";
}
.mbrib-watch:before {
  content: "\e991";
}
.mbrib-website-theme:before {
  content: "\e992";
}
.mbrib-wifi:before {
  content: "\e993";
}
.mbrib-windows:before {
  content: "\e994";
}
.mbrib-zoom-out:before {
  content: "\e995";
}
