.order-list__content .table-100{
   width: 100%;
   border: 2px rgba(170, 204, 247, 0.55) solid;
}
.order-list__content .table-100 tr td{
    padding: 10px;
    text-align: center;
    border: 2px rgba(170, 204, 247, 0.55) solid;
}
.order-list__content .img-prod img{
    width: 150px;
}
.order-list__content .img-prod .img-align{
    text-align: center;
}
.btn-buy{
    background: #4f8fe1;
    padding: 7px 14px;
    color: #fff !important;
    text-decoration: blink;
}
.btn-buy:hover{
    background: rgba(79, 143, 225, 0.75);
    color: #fff !important;
}
.old-price{
    margin-top: 7px;
    color: #bbb6b6;
    text-decoration: line-through;
}
.sale-order-history-link{
    background: #4f8fe1;
    padding: 7px 14px;
    color: #fff !important;
    text-decoration: blink;
}
.sale-order-history-link:hover{
    background: rgba(79, 143, 225, 0.75);
    color: #fff !important;
}
.order-list__content .count{
    width: 35px;
    height: 30px;
    padding: 0 12px;
    border: none;
}
.order-list__content .first-title{
    background: #4f8fe1;
    color: #fff;
}
.minus_cols_button,
.plus_cols_button{
    text-decoration: none;
    background: #4f8fe1;
    padding: 7px 8px;
    width: 25px;
    display: inline-block;
}
.minus_cols_button span,
.plus_cols_button span{
  color: #fff;
}