.card-product__descr:before{
    top: 15px !important;
    left: 23px !important;
}
.card-navigate__image-wrap{
    width: 600px !important;
}
.card-navigate__image{
    height: auto !important;
    width: 80% !important;
}
.card-navigate__image-wrap{
    display: block !important;
}