.accordeon__content a{
    color: #4db051;
}
.overflow-scroll-tab{
    max-height: 350px;
    overflow-y: scroll;
}
.card-screen__title span{
    font-size: 55px;
}
.card-screen__title span{
    max-width: 80%;
    display: inline-block;
}
.btn_all_rew{
    padding-top: 50px !important;
    text-align: center;
}
.tech-comment{
    font-size: 12px;
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
    width: 410px;
    line-height: 17px;
    color: #828282;
    transition: opacity 0.5s;
}
.tabs-text__doc{
    color: #4398ef;
    margin-bottom: 5px;
    display: block;
}
.card-products__faq-title{
    margin-top: 100px;
}
.padding-top-250{
    padding-top: 250px;
}
.card-products__technical-feature-wrap .technical-features{
    line-height: 21px;
}