.no__image{
    margin-right: 17px;
    display: inline-block;
    vertical-align: middle;
}
.switch-color__item_black:before{
    background-color: #000;
}
.switch-color__item_orange:before {
    background-color: #fc6907 !important;
}
.switch-color__item_browncolor:before {
    background-color: #6c4648 !important;
}
.switch-active{
    box-shadow: 0 0 0 2px #63af51 !important;
}
.slider-main_news-page .slider-main__item{
    background-position: inherit !important;
}
.card-accessory__image{
    height: auto !important;
}
.product-mini__title ul{
    text-align: left;
}