.page-banner__section{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 1200px;
    text-align: center;
    background: #f2f6fb;
}
.page-banner__section img{
    width: 100%;
}
.catalog-navigate__page-preview{
    background: #f2f6fb;
}
a.card-all-product {
    display: inline-block;
    margin-right: 27px;
    margin-bottom: 17px;
}
img.card-product__image {
    width: 100%;
}
.margin-right-no{
    margin-right: 0px !important;
}