.active .list-items__item-text{
    font-weight: 600;
    color: #498BE0;
}
.active .list-items__item-text:before{
    position: absolute;
    top: 0;
    left: -21px;
    width: 3px;
    height: 20px;
    content: '';
    background-color: #498BE0;
}
