.basket__col-r{
    width: 62% !important;
}
.card-basket__delete{
    text-decoration: initial;
}
.card-basket__descr{
    width: 200px !important;
}
.card-basket__view{
    width: 110px !important;
    height: auto !important;
}
.basket{
    padding-top: 150px !important;
}
.bx_ordercart_coupon input{
    background: none;
    border: none;
}